<%# <%= render "shared/second-header"%> 

<div class="col-12 py-5">
  <%= form_with class: 'registration-main', local: true do |f| %>
    <div class="form-wrap col-10 col-lg-8 mx-auto justify-content-center">
      <div class="form-header col-10 col-lg-8 mx-auto">
        <h1 class="form-header-text text-center">ログイン</h1>
      </div>
      <%# エラーメッセージ %>
      <div class="form-group col-10 col-lg-8 mx-auto">
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      </div>
      <div class="form-group col-8 col-lg-6 mx-auto">
        <div class="d-flex align-items-center justify-content-start">
          <label class="form-text"><strong>メールアドレス</strong></label>
          <span class="badge text-danger mx-3">【必須】</span>
        </div>
        <%= f.email_field :hoge, class:"input-default form-control", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
      </div>
      <div class="form-group col-8 col-lg-6 mx-auto">
        <div class="d-flex align-items-center justify-content-start">
          <label class="form-text"><strong>パスワード</strong></label>
          <span class="badge text-danger mx-3">【必須】</span>
        </div>
        <%= f.password_field :hoge, class:"input-default form-control", id:"password", placeholder:"" %>
      </div>
      <div class="login-btn from-group col-8 col-lg-6 mx-auto d-flex justify-content-center pt-5">
        <%= f.submit "ログイン" ,class:"btn btn-outline-primary btn-lg" %>
      </div>
    </div>
  <% end %>
</div>

<%# <%= render "shared/second-footer"%> 