      <head>
      
        <%= javascript_include_tag 'camera.js', 'data-turbolinks-track': 'reload' %>
        <%# <%= javascript_include_tag 'date.js', 'data-turbolinks-track': 'reload' %> 
         
      </head>

      <header>
        <button class="btn-menu">check-in</button>
        <nav>
        <div class = "lists" >
           <button class="teacher-menu">Teacher</button>
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">course</th>
              </tr>
            </thead>
            <% @students.each do |student| %>
            <tbody>
              <tr>
                <th scope="row"> <%= student.id %></th>
                <td> <%= student.first_name %></td>
                <td><%= student.last_name %></td>
                <td><%= student.course %></td>
              </tr>
              
            </tbody>
            <% end %>
         </table>
 
          <div class ="na">
            <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
               
              </tr>
            </thead>
            <% @teachers.each do |teacher| %>
            <tbody>
              <tr>
                <th scope="row"> <%= teacher.id %></th>
                <td> <%= teacher.first_name %></td>
                <td><%= teacher.last_name %></td>
              </tr>
              
            </tbody>
            <% end %>
         </table>
        
          </div>
            </nav>
            
          </header>



    


    
      <div class="upper-content">
       
        <div class ="photo-area">
          
          <video muted id="camera" width="100%" height="100%"></video>
          <%# <canvas id="picture" width="500" height="200"></canvas>
          <form>
            <button type="button" id="shutter_in">in</button>
            <button type="button" id="shutter_out">out</button>
          </form> %>

          <%= audio_tag("shuttersound.mp3", id:"se") %>
        
         
        </div>
        <div class ="time">
         <div class = "hour-minutes">
          <span id="text-time"></span>

            <script type="text/javascript">
            document.getElementById("text-time").innerHTML = showTime();
            
            function showTime() {
              var now = new Date();
              var nowhour = now.getHours();
              var nowminutes = now.getMinutes();
              
            
              var text = nowhour + "：" + nowminutes ; 
              
              return text;
            }

             </script>
            </div>
            <div class = "second">
              <span id="text-second"></span>

              <script type="text/javascript">
              document.getElementById("text-second").innerHTML = showTime();
              
              function showTime() {
                var now = new Date();
                var nowseconds = now.getSeconds();
              
                var text =  nowseconds; 
                
                return text;
              }

              </script>

            </div>
            
          
          


          <div class = year-month-day>
            <p><span id="text-year"></span></p>

            <script type="text/javascript">
              document.getElementById("text-year").innerHTML = showDay();
            function showDay() {
              var now = new Date();
              var nowyear = now.getFullYear();
              var year = nowyear + "年";
              return  year;
            }
            </script>

            <div class ="date-day">

              <p><span id="text-date"></span></p>

              <script type="text/javascript">
                document.getElementById("text-date").innerHTML = showDay();
              function showDay() {
                var now = new Date();
                var nowmonth = now.getMonth();
                var nowdate = now.getDate();
                var date = nowmonth + "月" + nowdate + "日";
                return  date;
              }
              </script>

              

              <span id="text-day"></span>

              <script type="text/javascript">
                document.getElementById("text-day").innerHTML = showDay();
              function showDay() {
                var weeks = [ "日曜日", "月曜日", "火曜日", "水曜日", "木曜日", "金曜日", "土曜日" ];
                var now = new Date();
                var weekdays = now.getDay();
                return weeks[weekdays];
              }
              </script>
            </div>
          </div>

          
        </div>
        <!-- 『新着情報』を表示する -->
      </div>
      <div class="bottom-content">
      <div class ="check-in">
      <script>
window.onload = function() {
  setInterval(function() {
    var dd = new Date();
    document.getElementById("T1").innerHTML = dd.toLocaleString();
  }, 1000);
}

</script>
<div id="T1"></div>
        </div>
        <div class ="check-out">
        </div>
        <!-- 『フォーム』を表示する -->
      </div>



    
  <%= javascript_include_tag 'check-in.js', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'student.js', 'data-turbolinks-track': 'reload' %>


</body>

 

<%# <audio id="se" preload="auto">
  <source src="./images/shuttersound.mp3" type="audio/mp3">
</audio> %>


 